<div class="app_title">
  <div class="title">
    Magazzino Utensili
  </div>
  <div class="version">
    <a href="https://github.com/lucamagazut/magazut-server">
      v1.5.0
    </a>
  </div>
</div>

{{yield}}
