<div class="app_title">
  <div class="title">
    Magazzino Utensili
  </div>
  <div class="version">
    <a class="link" href="https://github.com/lucamagazut/magazut-server">
      v2.0.0
    </a>
  </div>
</div>

{{yield}}
