<div class="legenda">
  <table>
    <tbody>
      <tr>
        <td class="code">
          d, lu, r, th, dg
        </td>
        <td class="description">
          Geometrie: diametro, lunghezza, raggio, spessore, gradi
        </td>
      </tr>
      <tr>
        <td class="code">
          PHSS
        </td>
        <td class="description">
          Punte HSS
        </td>
      </tr>
      <tr>
        <td class="code">
          PHM
        </td>
        <td class="description">
          Punte widia senza fori lubrificazione
        </td>
      </tr>
      <tr>
        <td class="code">
          PHMF
        </td>
        <td class="description">
          Punte widia con fori lubrificazione
        </td>
      </tr>
      <tr>
        <td class="code">
          SVHSS
        </td>
        <td class="description">
          Svasatori HSS (categoria punte HSS)
        </td>
      </tr>
      <tr>
        <td class="code">
          PCHSS
        </td>
        <td class="description">
          Punta centrino HSS (categoria punte HSS)
        </td>
      </tr>
      <tr>
        <td class="code">
          MHSSM
        </td>
        <td class="description">
          Maschi x macchina
        </td>
      </tr>
      <tr>
        <td class="code">
          MHSS
        </td>
        <td class="description">
          Maschi hss x lavorazione manuale
        </td>
      </tr>
      <tr>
        <td class="code">
          P
        </td>
        <td class="description">
          Materiale: acciai generici
        </td>
      </tr>
      <tr>
        <td class="code">
          M
        </td>
        <td class="description">
          Materiale: acciaio inox (aisi)
        </td>
      </tr>
      <tr>
        <td class="code">
          H
        </td>
        <td class="description">
          Materiale: acciaio temprato
        </td>
      </tr>
      <tr>
        <td class="code">
          K
        </td>
        <td class="description">
          Materiale: ghisa
        </td>
      </tr>
      <tr>
        <td class="code">
          AL o N
        </td>
        <td class="description">
          Materiale: alluminio
        </td>
      </tr>
      <tr>
        <td class="code">
          FHM-P
        </td>
        <td class="description">
          Fresa cilindrica widia generica a 4 taglienti (per acciaio)
        </td>
      </tr>
      <tr>
        <td class="code">
          FHM-M
        </td>
        <td class="description">
          Fresa cilindrica widia x aisi
        </td>
      </tr>
      <tr>
        <td class="code">
          FHM-N
        </td>
        <td class="description">
          Fresa cilindrica widia x alluminio
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Esempi</h3>
  <ul>
    <li>
      PHM-d10 (punta widia senza fori diametro 10);
    </li>
    <li>
      FHM-N-d14-lu35 (fresa widia per alluminio diametro 14, lunghezza 35)
    </li>
  </ul>
</div>
{{yield}}
