<div class="app_header">
  <div class="app_header_inner">
    <AppTitle/>
    <div class="menu_header">
      <ul>
        <li>{{link-to "Home" "home"}}</li>
        <li>{{link-to "Cerca" "search-contraption"}}</li>
        <li>
          {{#link-to "search-contraption.contraptions" (query-params text="{runout}")}}
            In esaurimento
          {{/link-to}}
        </li>
        <li>{{link-to "Aggiungi Utensile" "add-contraption"}}</li>
      </ul>
    </div>
  </div>
</div>

{{yield}}
