<div class="search">
  {{input
    id="searchTextInput"
    class="input_text"
    type="text"
    placeholder="scrivi qui"
    value=searchTextInputValue
    enter=(action "onEnterInput" "searchButton")}}
  {{#link-to "search-contraption.contraptions" (query-params text=searchTextInputValue) id="searchButton"}}
    <img src="assets/images/magnifier.svg" class="magnifier_glass" alt="trova!">
  {{/link-to}}

</div>

{{yield}}
