<h4>{{this.model.denomination}} - {{this.model.idCode}}</h4>

<h5>info contraption</h5>

<ul>
  <li>ordinato</li>

  <li>
    {{#link-to 'runout.contraption.charge'}}
      Carica
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'runout.contraption.dismiss'}}
      Dismetti
    {{/link-to}}
  </li>
</ul>

{{outlet}}
