table.contraption_list_table{
  display: block;
  width: 100%;
  padding-top:2em;
  thead{
    border-bottom: 2px solid black;
  }
  th{
    max-width: 10%;
    font-size: 1.3em;
    line-height: 1.1em;
    font-weight: bold;
    padding: 0 10px 5px 10px;
    box-sizing: border-box;
  }
  tbody{
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    tr{
      border-bottom: 2px solid black;
    }
    td{
      cursor: pointer;
      padding:10px 10px;
      border-right: 1px solid lightgrey;
      &:last-child{
        cursor: default;
      }
    }
    .material{
      width: 23ex;
    }
    .available_qt{
      text-align: center;
    }
  }
}
