#show_contraption_main{

  .buttons_cont{
    text-align: right;
    margin-top: 15px;
    .table{
      display: table;
    }
    .table-row{
      display: table-row;
      &.second_row{
        .table-cell{
          padding-top: 20px;
        }
      }
    }
    .table-cell{
      padding-left: 10px;
      text-align: center;
      display: table-cell;
    }

  }
  .option_buttons_cont{
    margin-top: 1.5em;
    li{
      margin-top: 5px;
    }
  }

  .available_qt_text{
    display: inline-block;
    padding: 3px 5px;
  }

  .order_state_text_cont{
    padding: 5px 0;
  }

  .order_state_text{
    padding: 0.2em 0.5em;
  }
}
