.form_cont{
  width: 65%;
  float: left;
  border-right: 1px solid black;
  form{
    padding-left: 30px;
  }
  li{
    padding-top: 10px;
    label{
      display: inline-block;
      width: 15em;
    }
    &:first-child{
      // padding-top: 2em;
    }
  }
  fieldset{
    padding-top: 15px;
  }
  legend{
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 25px;
  }
  select{
    width: 15em;
  }
  input[type=text]{
    width: 20em;
  }
  input[type=number]{
    width: 5em;
  }
}
