.form_cont{
  text-align: center;
  form{
    display: inline-block;
    width: 50%;
    text-align: left;
  }
  li{
    padding-top: 1em;
    label{
      display: inline-block;
      width: 15em;
    }
    &:first-child{
      padding-top: 2em;
    }
  }
  fieldset{
    border-top: 1px solid black;
    padding-top: 1em;
  }
  legend{
    font-weight: bold;
    margin-top: 3em;
  }
}
