$body-text-color:black;
$app_bg_color:white;
$text-input-border-color:black;
$text-input-border-color-selected:lightgreen;
$input-text-font-size:1.1em;
$zindex-overlay:10;
$zindex-show-contraction:20;
$back-icon-color:black;
$white1:#f6f6f6;
$gray1:#687180;
$gray2:#bbc5d5;
$gray3:#909aa9;
$gray4:#687180;
$gray5:#424b59;



body{
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: $body-text-color;
  padding: 0em 2em 3em;
  margin: 0;
}

h2{
  padding-top: 1em;
}

a, a:active, a:visited{
  color: $body-text-color;
}

a {outline : none;}
a img {outline : none;}
img {border : 0;}

* {
  box-sizing: border-box;
}

strong{
  font-weight: bold;
}

input{
  font-size: $input-text-font-size;
}

h2{
  font-size: 1.8em;
}

.space_t_normal{
  padding-top: 1em;
}
.space_t_2{
  padding-top: 20px;
}
.space_t_half{
  padding-top: 0.5em;
}

.space_b_normal{
  padding-bottom: 1em;
}

.space_r_10{
  padding-left: 10px;
}

.link{
  background-color: transparent;
  border: none;
  font-size: 1.1em;
  padding: 0;
  text-decoration: underline;
  color:black;
  cursor: pointer;
  &:visited{
    color:black;
  }
  &:hover{
    color:$gray4;
  }
}

.clickable{
  cursor: pointer;
}

a.button, button.button, input.button{
  font-size: 1.2em;
  padding:0.2em 1em;
  border-radius: 5px;
  border: 2px solid $gray5;
  text-decoration: none;
  background-color: $gray2;
  color: black;
  text-shadow: 1px 1px $gray3;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
  &:hover{
    background-color: $gray3;
  }
}


.order_state_color_0{
  background-color: red;
}
// .order_state_color_1{
//   background-color: lightgreen;
// }
// .order_state_color_2{
//   background-color: orange;
// }
.order_state_color_4{
  background-color: azure;
}

.to_left{
  text-align: left;
  &>{
    display: inline-block;
  }
}

.to_right{
  text-align: right;
  &>{
    display: inline-block;
  }
}

.fleft{
  float: left;
}
.fright{
  float: right;
}

.center{
  text-align: center;
}

.half_width{
  width: 50%;
}
.inline_block{
  display: inline-block;
}

.input_text{
  vertical-align: middle;
  border: none;
  padding:0.5em;
  border:2px solid $text-input-border-color;
  &:focus{
    border-color: $text-input-border-color-selected;
    &::placeholder{
      opacity: 0.1;
    }
  }
  &::placeholder{

  }

}

select{
  padding:0.5em;
  font-size: 1.2em;
  border: 2px solid black;
}

.clearfix {
  *zoom: 1;
  &:before, &:after{
    content: '';
    display: table;
  }
  &:after{
    clear: both;
  }
}
