$body-text-color:black;
$app_bg_color:white;
$text-input-border-color:red;
$input-text-font-size:1.1em;
$zindex-overlay:10;
$zindex-show-contraction:20;
$back-icon-color:black;

body{
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: $body-text-color;
  padding: 0em 2em 3em;
  margin: 0;
}

h2{
  padding-top: 1em;
}

a, a:active, a:visited{
  color: $body-text-color;
}

a {outline : none;}
a img {outline : none;}
img {border : 0;}

* {
  box-sizing: border-box;
}

strong{
  font-weight: bold;
}

input{
  font-size: $input-text-font-size;
}

h2{
  font-size: 1.8em;
}

.space_t_normal{
  padding-top: 1em;
}
.space_t_half{
  padding-top: 0.5em;
}

.space_b_normal{
  padding-bottom: 1em;
}


button.button, input.button, .big_button, .very_big_button{
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  &:hover{
    text-decoration: overline;
  }
}

.buttons, button.button, input.button, .very_big_button{
  font-size: 1.3em;
}
.big_button{
  font-size: 1.5em;
}

.very_big_button{
  font-size: 2em;
}

.order_state_color_0{
  background-color: red;
}
// .order_state_color_1{
//   background-color: lightgreen;
// }
// .order_state_color_2{
//   background-color: orange;
// }
.order_state_color_4{
  background-color: azure;
}

.to_left{
  text-align: left;
  &>{
    display: inline-block;
  }
}

.to_right{
  text-align: right;
  &>{
    display: inline-block;
  }
}

.fleft{
  float: left;
}
.fright{
  float: right;
}

.half_width{
  width: 50%;
}

.input_text{
  vertical-align: middle;
  border: none;
  padding:0.5em;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  &:focus{
    border-bottom: 2px solid $text-input-border-color;
    border-left: 2px solid $text-input-border-color;
    &::placeholder{
      opacity: 0.2;
    }
  }
  &::placeholder{

  }

}

select{
  padding:0.5em;
  font-size: 1.2em;
}

.clearfix {
  *zoom: 1;
  &:before, &:after{
    content: '';
    display: table;
  }
  &:after{
    clear: both;
  }
}

.buttons{
  width: 100%;
  // margin: 0 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  .inner{
    padding: 1em;
    .right{
      float: right;
    }
    .left{
      float: left;
    }
  }
}
