
.overlay{
  background-color: black;
  position: fixed;
  z-index: $zindex-overlay;
  opacity: 0.8;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.popup{
  background-color: white;
  z-index: $zindex-show-contraction;
  position: fixed;
  margin: 0 auto;
  // bottom:10em;
  top:8em;
  left: 33%;
  width: 33%;
  min-height: 50%;
  .popup_inner{
    padding: 1em 3em 1em 1em;
    .hint{
      font-size: 0.9em;
    }
  }

  h3{
    font-weight: bold;
    font-size: 1.5em;
  }
  h4{
    font-weight: bold;
    font-size: 1.3em;
  }
}


.close_icon {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 2em;
  height: 2em;
  opacity: 0.3;
  transition: transform 0.3s;
  &:hover{
    opacity: 1;

    transform: rotate(-90deg);
  }
  &:before, &:after{
    position: absolute;
    left: 1em;
    content: ' ';
    height: 2em;
    width: 0.1em;
    background-color: $back-icon-color;
  }
  &:before{
    transform: rotate(45deg);
  }
  &:after{
    transform: rotate(-45deg);
  }
}

.list_info{
  li{
    margin-top: 1em;
  }
}
