.search_contraption{
  h2{
    padding-top: 1em;
  }
  padding:0.5em;

  .momentaneo{
    margin-top: 100px;
  }

  .search{
    padding-top: 2em;

  }

  .magnifier_glass{
    width: auto;
    height: 2em;
    vertical-align: middle;
    padding-left: 1.5em;
  }

  #searchTextInput{
    width: 20%;
  }

}
