.search_contraption{

  .search{
    padding-top: 2em;
    width: 50%;
  }

  .magnifier_glass{
    width: auto;
    height: 2em;
    vertical-align: middle;
    padding-left: 1.5em;
  }

  #searchTextInput{
    width: 50%;
    min-width: 250px;
  }

}
