<h3>Sei sicuro di voler rimuovere questo elemento dalla lista degli esaurimenti?</h3>
<p>(Azione consigliata solo se si prevede di non ordinare mai più questo elemento)</p>

<button type="button" name="button">No, torna indietro</button>
<button type="button" name="button">Sì, fallo!</button>

{{outlet}}
