<h3>Caricare</h3>

<div class="">
  Inserire la quantità
</div>

{{input type="text" name="chargeQuantity" value=chargeQuantity id="chargeQuantity"}}

<div class="">
  <button type="button" name="confirmCharge" {{action "confirmCharge"}}>Carica</button>
</div>
{{outlet}}
