{{outlet}}

<div class="space_t_10">
  <div class="history_table">
    <h3 class="caption">Scegli operatore</h3>
    <div class="space_t_10">
      <FSelect @showDisabledOption=true @change={{action "onChangeEmpHistory"}} @list={{this.operators}} @value=0/>
    </div>
  </div>

</div>
