

<div id="main_application">
  <div class="inner_application">
    {{outlet}}
  </div>
  <div class="black_over"></div>

  {{#if showSuccess}}
    <div id="successfullAlert">
      <div class="inner">
        Operazione Riuscita
      </div>
    </div>
  {{/if}}
  {{#if isErrorShowed}}
    <div id="errorAlert">
      <div class="inner">
        {{errorText}}
      </div>
    </div>
  {{/if}}
</div>
